.dimensoes {
    position: fixed;
    width: 16%;
    background-color: blueviolet;
    height: 657px;
}

.font-style {
    color: white;
    font-size: 20px;
}

.color {
    background-color: black
}

.div-nav {
    text-align: center;
}

.font-style:hover {
    color: black;
}