html {
    background-color: #870CFF;
}

body {
    font-family: "Poppins", sans-serif;
    height: 80vh;
    width: 90%;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder {
    color: #cccccc;
}

input[type=email]::placeholder {
    color: #cccccc;
}

input[type=password]::placeholder {
    color: #cccccc;
}