@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')
}

body {
    background-color: #870CFF;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    height: 450px;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    background-color: #BD79FF
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    margin-top: 10%;
}

.login {
    width: 450px;
    height: 480px;
    left: 391px;
    top: 71px;
    padding-top: 40px;

    background: #BD79FF;
  }

  #botao-login {
    width: 40%;
    height: 44px;
    left: 582px;

    background: #870CFF;
    border-radius: 30px;
    margin-top: 37px;
    text-align: center;
    background-color: #870CFF;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    border: none;
    /* font-family: 'Roboto' !important; */
  }

  #botao-login:hover {
      background-color: #3E0179
  }

  .text-button {
    width: 147px;
    height: 45px;
    left: 608px;
    top: 525px;
    /* font-family: 'Roboto'; */

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    text-align: center;
    line-height: 42px;

    color: #FFFFFF;
  }

  /* input.entrada {
    background: #FFFFFF;
    border-radius: 30px;
  } */

  #password {
    width: 80%;
    height: 35px;
    left: 492px;

    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    border: none;
  }

  /* #user {
    width: 250px;
    height: 1px;
    left: 492px;
    top: 285px;
    margin-top: 20px;
    margin-bottom: 20px
  }

  #senha {
    left: 626px;
    margin-top: 50px;
  } */

  #usuario{
    width: 80%;
    height: 35px;
    left: 583px;
    /* top: 239px; */
    /* margin-top: 100px; */
    font-family: 'Roboto';
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    border: none
  }
  .fadeIn.labels {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    right: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  #label-usuario {
    margin-top: 70px;
    margin-bottom: 15px;
  }

  #label-senha {
    margin-top: 18px;
    margin-bottom: 15px;
  }

  .logo {
    width: 115px;
    height: 77px;
    margin-left: 167px;
    top: 119.5px;
    margin-bottom: 30px;

    background: #FFFFFF;
  }

  .fadeIn.cad {
    font-size: 17px;
    color: #FFFFFF;
  }

  #cadastroComum {
    margin-top: 3%;
  }

  /* #cadastroPrestador {

  } */

  input:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}