<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

	<!--Console appender -->
	<appender name="stdout"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %p %m%n" />
		</layout>
	</appender>

	<appender name="roll-by-size"
		class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs.log" />
		<param name="MaxFileSize" value="5KB" />
		<param name="MaxBackupIndex" value="2" /> <!-- It's one by default. -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %m%n" />
		</layout>
	</appender>

	<appender name="roll-by-size-2"
		class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="user.log" />
		<param name="MaxFileSize" value="5KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
		</layout>
	</appender>

	<category name="a">
		<priority value="INFO" />
	</category>

	<category name="a.Log4jRollingExample">
		<priority value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="roll-by-size-2" />
	</category>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="roll-by-size" />
		<appender-ref ref="roll-by-size-2" />
	</root>

</log4j:configuration>