@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')
}

header {
    background-color: #870CFF;
    width: 100%;
}

body {
    background-color: #870CFF;
    font-family: 'Roboto';
    /* height: 160vh; */
    /* width: 99%;
    margin: 0%; */
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
    align-items: center;
    color: #FFFFFF;
    margin-left: 2.3%;
    font-size: 260%
}


.form {
    align-items: center;
    margin-left: 30%;
}

.label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.inpu {
    width: 521px;
    height: 45px;
    left: 415px;
    top: 205px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    background: #FFFFFF;
    border-radius: 30px;
}

.inputc {
    width: 255px;
    height: 45px;
    left: 415px;
    top: 205px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    background: #FFFFFF;
    border-radius: 30px;
}

.termos {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    color: white;
    margin-top: 10%;
    scroll-margin-left: 10%;
}

.check {
    margin-left: 0%;
    margin-top: -10%;
}

.cadastro {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    position: absolute;
    margin-bottom: 10%;
    margin-top: 3%;
    left: 42.4%;
    width: 13%;
    height: 6%;
    color: #FFFFFF;
    font-size: 200%;
    
    border: none;
    background-color: #BD79FF;
    border-radius: 30px;
}

.cadastro:hover {
    background-color: #3E0179;
}

input {
    border: none;
    padding-left: 2%;
}

label {
    color: #FFFFFF;
}

#login {
    margin-top: 3%
}

#h2Endereco {
    margin-left: 0.5%;
}

.form1 {
    margin-left: 0px;
}
/* 
.formSenha {
    margin-left: -1%;
} */

.endereco input {
    padding-left: 5%;
}