aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* margin-left: 20%; */
    text-align: left;
    font-weight: 300;
    padding: 10px;
    padding-left: 50px;
}

.menu a:hover {
    color: #3E0179;
}

.lg {
    height: 8.8%;
    text-align: center;
    align-items: center;
    font-size: 30px;
    /* position: fixed; */
        /* border: 1px solid black;
    box-sizing: border-box; */
}

.posi {
    position: fixed;
    /* right: 0; */
    /* top: 50%; */
    /* width: 8em; */
    /* margin-top: -2.5em */
}