main > div {
    background-color: #870CFF;
    max-height: 12%;
    
}

/* .divsec {
    margin-left: 23%;
} */

.inputPesquisa {
    font-size: 10px;
    width: 50%;
    height: 40px;
    border-radius: 80px;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 20%
}

.pesquisar {
    font-size: 20px;
    background-color: #870CFF;
    border: none;
}

.pesquisar:hover{
    color: #fff;
}

input:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}